body {
    background-color: #000000;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container, .contain {
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
}

.item, #signup {
  background-color: #212631;
  border-radius: 10px;
  padding: 30px 35px;
  height: max-content;
  width: 300px;
}

h1 {
    text-align: center;
    font-family: fangsong;
}


h1 span {
    color:dodgerblue;
}

h3 {
  text-align: center;
 font-size: 150%;
  font-weight: 400;
  font-weight: bolder;
  margin-top: -15px;
}

label {
  color: #808080;
  font-size: 90%;
  font-weight: bolder;
}

input {
  border-radius: 6px;
  border: solid black 1px;
  margin: 3px 0;
  padding: 4px;
  color: black;
  width: 95%;
}

#btn {
  background-color: dodgerblue;
  border: transparent;
  color: white;
  margin-top: 5px;
  width: 100%;
  border-radius: 5px;
}

#switch {
  background-color: white;
  border: solid lightgrey 1px;
  color: dodgerblue;
  margin-top: 5px;
  width: 80%;
  border-radius: 5px;
  margin-left: 10%;
}

#switch:hover{
  background-color: dodgerblue;
  color: white;
  transition: linear 1s;
}

.cards {
  border: 1px solid #ccc;
  padding: 16px;
  border-radius: 8px;
  margin-bottom: 1rem;
  background: #f9f9f9;
  transition: 0.3s ease;
}
.cards:hover {
  background: #f1f1f1;
}



.grid-right {
  padding: 30px 35px;
  background-color: #212631;
  border-radius: 10px;
  width: 50%;
  margin-inline: auto;
  margin-top: 60px;
  margin-bottom: 60px;
}

.grid-right input {
  margin-bottom: 10px;
}

.sh-link {
  padding: 5px;
  font-size: large;
  font-family: sans-serif;
  font-weight: 600;
  background-color: dodgerblue;
  color: white;
  border: transparent;
  border-radius: 5px;
  margin-top: 5px;
}

.button {
  text-align: center;
}

ol {
  list-style-type: none;
  padding: 0;
}

li {
  border: 1px solid #212631;
  padding: 1rem;
  border-radius: 8px;
  margin-bottom: 1rem;
  background-color: #212631;
}

.card a {
  color: #0077cc;
  text-decoration: none;
}

.card a:hover {
  text-decoration: underline;
}


.grid-left {
  padding: 30px 35px;
  border-radius: 10px;
  width: 80%;
  margin-inline: auto;
  margin-top: 60px;
  margin-bottom: 60px;
}

.pre {
  text-align: center;
  font-size: large;
  margin-top: 20%;
}

.code svg {
  width: 60%;
}

.code button {
  background-color: dodgerblue;
  border: transparent;
  padding: 5px;
  color: #f9f9f9;
  font-weight: bolder;
  border-radius: 5px;
  margin-top: 3px;
}

#myurl {
  text-align: center;
  color: dodgerblue;
  position: sticky;
  top: -32px;
  background-color: #212631;
  width: 100%;
}

footer h1 {
  background-color: dodgerblue;
  font-size: larger;
  text-align: center;
  width: 100%;
  color: white;
  font-family: fangsong;
}

.nav {
  display: flex;
  justify-content: space-between;
  margin-top: 8%;
}

 .img {
  display: flex;
 }

.button {
  display: flex;
  flex-direction: column;
  gap: 5px;
 }

.nav img {
  width: 50px;
  height: max-content;
}

.button button {
  border: transparent;
  padding: 10px;
  height: max-content;
  width: max-content;
  font-size: large;
  font-weight: bold;
  border-radius: 8%;
  margin-top: 4%;
}

.up,.get {
  background-color: #0077cc;
  color: white;
}

.in {
  background-color: white;
  color: #0077cc;
}

.in:hover {
   background-color: #0077cc;
  color: white;
}

.up:hover ,.get:hover {
  background-color: white;
  color: #0077cc;
}

.get {
   border: transparent;
  padding: 10px;
  height: max-content;
  width: max-content;
  font-size: large;
  font-weight: bold;
  border-radius: 8%;
}


.center-1 img {
  background-color: white;
}

.center-2 p {
 width:fit-content;
 font-size: 250%;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin-top: 50%;
}

.link {
  color: rgb(196, 4, 4);
  font-weight: 700;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.code1 {
  color: dodgerblue;
  font-weight: 700;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.down {
  text-decoration: underline double lightgreen 3px;
}

.center-2 {
  text-align: center;
}


@media (min-width: 768px) {
  .display {
    display: flex;
    justify-content: space-between;
  }

  .nav {
    margin-top: 0;
  }

  .center {
    margin-top: 0;
  }

  .center-1 {
  display: flex;
  justify-content: space-evenly;
  gap: 30%;
  margin: 23px;
}

  .button {
    flex-direction: row;
  }

  .nav img {
  width: 6%;
}

  .code {
  margin-top: 40px;
}

  .code svg {
    width: 100%;
  }

  footer h1 {
    margin-bottom: -40%;
  }
}